@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primaryBackground: #212222;
  --secondaryBackground: #2f3030;
  --primaryColor: #e0a80d;
  --greyDark: #7d8792;
  --headingColor: #212121;
  --white: #fff;
  --black: #000;
  --sliver: #bac8d3;
}
:root {
  --color-131921: #131921;
  --color-3b4149: #3b4149;
  --color-febd69: #febd69;
  --color-232f3e: #232f3e;
  --color-bf4800: #bf4800;
  --color-f5f5f7: #f5f5f7;
  --color-ededed: #ededed;
  --color-777777: #777777;
  --color-1c1c1b: #1c1c1b;
}
body {
  background-color: var(--headingColor);
  color: var(--white);
  font-family: "Poppins", sans-serif;
}
a {
  color: var(--white);
  text-decoration: none;
  transition: 0.5s;
}
a:hover {
  color: var(--primaryColor);
}
p {
  color: var(--sliver);
  font-size: 15px;
  line-height: 30px;
  margin: 20px 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
.gap-10 {
  gap: 10px;
}
.gap-5 {
  gap: 5px;
}
.gap-30 {
  gap: 30px;
}
.gap-15 {
  gap: 15px;
}
.container {
  max-width: 80%;
  margin: auto;
}
.flexsb {
  display: flex;
  justify-content: space-between;
}
.t-btn {
  position: relative;
  overflow: hidden;
  background: #fd914f;
  text-align: center;
  color: #222429;
  height: 60px;
  font-size: 18px;
  line-height: 64px;
  padding: 0 50px;
  text-transform: uppercase;
  border-radius: 8px;
  font-family: "Teko", sans-serif;
  display: inline-block;
  letter-spacing: 1px;
  z-index: 1;
}
button {
  border: none;
  outline: none;
  background: none;
  font-size: 17px;
  background-color: #fd914f;
  color: var(--white);
  padding: 15px 50px;
  border-radius: 50px;
  margin-top: 20px;
  cursor: pointer;
}
.fontSize {
  font-size: 20px;
}
.primaryBtn {
  background: none;
  border: 2px solid #fd914f;
}
.primaryBtn:hover {
  background-color: #fd914f;
  transition: 1s;
}

/*---------header-------------*/
header {
  background-color: var(--headingColor);
  height: 10vh;
  line-height: 10vh;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
header a {
  margin-left: 40px;
}
.toggle {
  cursor: pointer;
  color: var(--white);
  display: none;
}
@media screen and (max-width: 768px) {
  header .nav {
    display: none;
  }
  header a {
    width: 100%;
    display: block;
    color: var(--white);
  }
  .toggle {
    display: block;
    font-size: 25px;
    background: none;
  }
  .hideMenu {
    display: block;
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    background-color: var(--headingColor);
  }
}
/*---------header-------------*/
/*---------header-------------*/
section {
  height: 90vh;
  display: flex;
  align-items: center;
}
.flex {
  display: flex;
}

/*---------hero-------------*/
.hero {
  position: relative;
}
.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../public/images/home-bg.png");
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
  width: 100%;
  height: 90vh;
  opacity: 10%;
}
.heroContent {
  max-width: 50%;
  margin: auto;
  text-align: center;
}
.hero h1 {
  font-size: 60px;
  font-weight: 600;
  color: #fd914f;
}
/*---------hero-------------*/
.heading {
  font-size: 30px;
  color: var(--primaryColor);
  font-weight: 600;
  text-align: center;
  margin-bottom: 60px;
}

/*---------about-------------*/
.about .primaryBtn {
  margin-left: 20px;
}
.about .heading {
  text-align: left;
  margin: 0;
}

.left {
  width: 40%;
}
.right {
  width: 60%;
  margin-top: 7%;
}

/*---------about-------------*/
.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

/*---------services-------------*/
.services .box {
  background-color: #1c1e22;
  padding: 35px;
}
.services .box .show {
  opacity: 0.01;
}
.services .box:hover {
  background-color: #fd914f;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.services .box:hover .show {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.services i {
  color: #fd914f;
}
.services .box p {
  color: #fff;
}
.services h3 {
  margin-top: 40px;
}

/*---------services-------------*/
.grid4 {
  grid-template-columns: repeat(4, 1fr);
  height: 60%;
  place-items: center;
  text-align: center;
}

/*---------counter-------------*/
.counter {
  margin-top: 80px;
  position: relative;
}
.hero.counter::after {
  background-image: url("../public/images/some-facts-bg.png");
  height: 50vh;
}
.counter h1 {
  margin: 0;
}

/*---------counter-------------*/
/*---------blog-------------*/
.blog img {
  width: 100%;
  height: 300px;
  cursor: pointer;
}
.blog .box {
  background-color: #ffffff;
  border-radius: 20px;
}
.blog .text {
  padding: 10px 30px;
  color: #000;
  font-size: large;
}
.blog .text p {
  color: #353739;
}
/*---------blog-------------*/
/*---------contact-------------*/

.contact .right,
.contact .left {
  padding: 50px;
}
.leftww {
  margin-top: 35%;
}

.contact .flex input:nth-child(1) {
  margin-right: 10px;
}
.contact button,
.contact textarea,
.contact input {
  width: 100%;
  padding: 20px;
  border: none;
  outline: none;
  margin: 10px 0;
  border-radius: 5px;
}
/*---------contact-------------*/

/* responsive part */

@media screen and (max-width: 768px) {
  .hero {
    height: 60vh;
  }
  .heroContent {
    max-width: 80%;
  }
  .right {
    margin-top: 0;
  }

  .hero::after {
    background-image: url("../public/images/home-bg.png");
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 60vh;
  }
  section {
    height: auto;
    padding-top: 50px;
  }
  .contact .flexsb,
  .about .flex {
    flex-direction: column;
  }
  .right,
  .left {
    width: 100%;
  }
  .grid4,
  .grid3 {
    grid-template-columns: repeat(1, 1fr);
  }
  article {
    margin: 0;
    padding-bottom: 50px;
  }
  .blog img {
    height: 200px;
    border-radius: 8px;
  }
  .blog {
    margin-top: 20%;
  }
  .contact .right,
  .contact .left {
    padding: 0;
    margin-top: 10%;
  }
}
